ProjectRepositoryPath=https://github.com/al315555/concerts-front-angular.git
GitShPath=C:\Program Files\Git\bin\sh.exe
DockerTimeBetweenTries=5
DockerStartCheckMaxTries=10
DockerDesktopPath=C:\Program Files\Docker\Docker\Docker Desktop.exe
JenkinsTimeBetweenTries=15
JenkinsStartCheckMaxTries=50
JenkinsAddress=http://host.docker.internal:8081/
JenkinsUrl=http://host.docker.internal:8081/
JenkinsUser=admin
JenkinsPassword=admin
