ProjectRepositoryPath=https://github.com/JSGitHubbing/dummy-repo.git
GitShPath=C:\Program Files\Git\bin\sh.exe
DockerTimeBetweenTries=5
DockerStartCheckMaxTries=10
DockerDesktopPath=C:\Program Files\Docker\Docker\Docker Desktop.exe
JenkinsTimeBetweenTries=15
JenkinsStartCheckMaxTries=50
JenkinsAddress=localhost:8081
JenkinsUrl=http://localhost:8081
JenkinsUser=admin
JenkinsPassword=admin