ProjectBackRepositoryPath=https://github.com/al315555/concerts-back-spring-boot.git
ProjectFrontRepositoryPath=https://github.com/al315555/concerts-front-angular.git
GitShPath=C:\Program Files\Git\bin\sh.exe
DockerTimeBetweenTries=5
DockerStartCheckMaxTries=10
DockerDesktopPath=C:\Program Files\Docker\Docker\Docker Desktop.exe
JenkinsTimeBetweenTries=15
JenkinsStartCheckMaxTries=50
SonarTimeBetweenTries=15
SonarStartCheckMaxTries=50
JenkinsAddress=host.docker.internal:8081
JenkinsUrl=http://host.docker.internal:8081
JenkinsUser=admin
JenkinsPassword=admin
SonarAddress=host.docker.internal:8082
SonarUrl=http://host.docker.internal:8082
SonarUser=admin
SonarPassword=admin
